# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# 4 space indentation for markdown files
[*.md]
indent_size = 4
trim_trailing_whitespace = false

# Tab indentation for Makefiles
[Makefile]
indent_style = tab

# Match JSON, TypeScript and JavaScript files
[*.{json,js,jsx,ts,tsx}]
indent_size = 2

# Match CSS, SCSS files
[*.{css,scss}]
indent_size = 2

# Match HTML files
[*.html]
indent_size = 2